* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding-top: 25.5rem;
}

header {
  position: fixed;
  z-index: 2;
  height: 17rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-bottom: 2rem;
  border: 0.1rem solid rgb(220, 220, 220);
}

hr {
  border: 0.1rem solid rgb(220, 220, 220);
}

nav {
  height: 8rem;
  padding: 0 7rem;
}

nav > div {
  flex: 1;
}

nav > div > * {
  margin: 0 1rem;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

footer {
  padding: 2rem 3rem;
  background-color: rgb(240, 240, 240);
}

footer a,
footer p,
footer span {
  margin-right: 1rem;
}

/* ==================================================================== */

.header__logo {
  width: 10rem;
}

.userinfo__langbtn {
  width: 2rem;
  background-color: transparent;
}

.userinfo__container {
  width: 9rem;
  height: 5rem;
  background-color: white;
  border: 0.1rem solid rgb(220, 220, 220);
  border-radius: 3rem;
}

.userinfo__menubtn svg {
  width: 2rem;
  margin: 0 1rem;
}

.userinfo__mypagebtn svg {
  width: 3.5rem;
}

.searchbar {
  width: 85rem;
  height: 6.5rem;
  margin: 0 auto;
  border: 0.1rem solid rgb(220, 220, 220);
  border-radius: 3rem;
}

.searchbar > div {
  flex: 1;
}

.searchbar__container {
  flex: 1;
  padding-left: 3rem;
  border-radius: 3rem;
}

.searchbar__container:hover {
  background-color: rgb(230, 230, 230);
}

.searchbar__input {
  width: 20rem;
  height: 2.5rem;
  border: none;
  outline: none;
}

.searchbar__container:hover > .searchbar__input {
  background-color: rgb(230, 230, 230);
}

.searchbar__button {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 1rem;
  background-color: #ff006a;
  color: white;
  border-radius: 3rem;
}

.searchbar__button:hover {
  background-color: #db0a61;
}

.searchbar button > svg {
  width: 2rem;
  color: white;
}

.category {
  position: fixed;
  z-index: 2;
  top: 17rem;
  left: 0;
  right: 0;
  height: 8rem;
  padding: 0 10rem;
  background-color: white;
  font-size: 1.2rem;
}

.category__content {
  flex: 20;
  overflow: hidden;
}

.category__leftbtn {
  width: 3rem;
  height: 3rem;
  border: 0.2rem rgb(230, 230, 230) solid;
  border-radius: 3rem;
}

.category__rightbtn {
  width: 3rem;
  height: 3rem;
  border: 0.2rem rgb(230, 230, 230) solid;
  border-radius: 3rem;
}

.category input[type="radio"] {
  display: none;
}

.category label {
  cursor: pointer;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}

.category__icon {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.category input[type="radio"]:checked + img {
  opacity: 1;
}

.category label:has(input[type="radio"]:checked) {
  border-bottom: 0.2rem solid black;
}

.category__filterbtn {
  width: 8rem;
  height: 5rem;
  flex: 1;
  background-color: white;
  border: 0.1rem solid rgb(220, 220, 220);
  border-radius: 1rem;
}

.category__filterbtn svg {
  width: 2rem;
  margin-right: 1rem;
}

.category__placecard {
  position: relative;
  margin: 2rem 1.2rem;
}

.category__placecard img {
  width: 26rem;
  height: 26rem;
  object-fit: cover;
  border-radius: 1rem;
}

.likeBtn {
  position: absolute;
  top: 1.5rem;
  left: 22rem;
  transition: all 0.1s;
}

.likeBtn path {
  stroke: white;
  stroke-width: 2rems;
}

.likeBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.recommandinfo {
  background-color: rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(220, 220, 220);
  padding: 4rem 0;
}

.recommandinfo__content {
  width: 96rem;
  margin: 0 auto;
}

.recommandinfo__content button {
  font-size: 1.6rem;
  margin: 2rem 2rem 3rem 0;
}

.recommandinfo__content li {
  width: 12rem;
  margin: 0 4rem 1rem 0;
}

.recommandinfo__content li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.additionalinfo {
  background-color: rgb(240, 240, 240);
  border-bottom: 0.1rem solid rgb(220, 220, 220);
  padding: 4rem 0;
}

.additionalinfo__content li {
  width: 25rem;
  margin: 0 4rem 1rem 0;
}

.additionalinfo__content {
  width: 96rem;
  margin: 0 auto;
}

.footer {
  width: 96rem;
  margin: 0 auto;
}

.ct_img1 {
  background-image: url("../img/category/골프장.jpg");
}

.ct_img2 {
  background-image: url("../img/category/그랜드 피아노.jpg");
}

.ct_img3 {
  background-image: url("../img/category/기상천외한 숙소.jpg");
}

.ct_img4 {
  background-image: url("../img/category/담무소.jpg");
}

.ct_img5 {
  background-image: url("../img/category/동굴.jpg");
}

.ct_img6 {
  background-image: url("../img/category/마차.jpg");
}

.ct_img7 {
  background-image: url("../img/category/무장애.jpg");
}

.ct_img8 {
  background-image: url("../img/category/보트.jpg");
}

.ct_img9 {
  background-image: url("../img/category/복토 주택.jpg");
}

.ct_img10 {
  background-image: url("../img/category/사막.jpg");
}

.ct_img11 {
  background-image: url("../img/category/서핑.jpg");
}

.ct_img12 {
  background-image: url("../img/category/속세를 벗어난 숙소.jpg");
}

.ct_img13 {
  background-image: url("../img/category/수영장.jpg");
}

.ct_img14 {
  background-image: url("../img/category/인기 급상승.jpg");
}

.ct_img15 {
  background-image: url("../img/category/최고의 전망.jpg");
}

.ct_img16 {
  background-image: url("../img/category/캠핑장.jpg");
}

.ct_img17 {
  background-image: url("../img/category/캠핑카.jpg");
}

.ct_img18 {
  background-image: url("../img/category/컨테이너하우스.jpg");
}
