body {
    margin: 0%;
    max-width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

main {
    flex: 1;
    max-width: 100%;
}

footer {
    background-color: rgb(245, 245, 245);
}

h1 {
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    justify-content: center;
}

.center-col {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.size-16 {
    width: 16px;
    height: 16px;
}

.size-24{
    width: 24px;
    height: 24px;
}

.size-32 {
    width: 32px;
    height: 32px;
}

.size-48 {
    width: 48px;
    height: 48px;
}

.height-40 {
    height: 40px;
}

.height-50 {
    height: 50px;
}

.height-64 {
    height: 64px;
}

.height-80 {
    height: 80px;
}

.height-90 {
    height: 90px;
}

.height-369 {
    height: 369px;
}

.height-440 {
    height: 440px;
}

.width-80 {
    width: 80px;
}

.width-100 {
    width: 100px;
}

.width-140 {
    width: 140px;
}

.width-280 {
    width: 280px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grid {
    display: grid;
}

.padding5 {
    padding: 5px;
}

.padding20 {
    padding: 20px;
}

.side-padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

.side-padding10 {
    padding-left: 10px;
    padding-right: 10px;
}

.side-padding20{
    padding-left: 20px;
    padding-right: 20px;
}

.side-padding40 {
    padding-left: 40px;
    padding-right: 40px;
}


.updown-padding10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.updown-padding40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.margin5{
    margin: 5px;
}

.margin10 {
    margin: 10px;
}

.margin20 {
    margin: 20px;
}

.side-margin5 {
    margin-left: 5px;
    margin-right: 5px;
}

.side-margin25 {
    margin-left: 25px;
    margin-right: 25px;
}

.top-margin5 {
    margin-top: 5px;
}

.top-margin16{
    margin-top: 16px;
}

.bottom-margin48{
    margin-bottom: 48px;
}

.smooth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.light-smooth-border {
    border-radius: 20px;
}

.smooth-border {
    border-radius: 40px;
}

.smooth-button:hover {
    background-color:rgb(247, 247, 247);
}

.hover-highlight:hover {
    background-color:rgb(247, 247, 247);
}

.light-border {
    border: 0.5px solid rgb(219, 219, 219);
}

.me-son-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-son-center > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-shadow:hover {
    box-shadow: 0px 1.5px 5px rgba(0, 0, 0, 0.2);
}

.transition-2 {
    transition: all 0.2s;
}

.light-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.child-margin20 > *{
    margin-left: 20px;
    margin-right: 20px;
}

.child-margin40 > *{
    margin-left: 20px;
    margin-right: 20px;
}

.no-border {
    border: none;
}

.background-white {
    background-color: white;
}

.background-red {
    background-color: rgb(253, 5, 79);
}

.transparent {
    background-color: transparent;
}

.font-size12{
    font-size: 12px;
}

.font-size15 {
    font-size: 15px;
}

.font-bold {
    font-weight: bold;
}

.font-gray {
    color: rgb(65, 65, 65);
}

.line {
    border-top: 0.5px solid rgb(216, 216, 216);
    width: 100%;
}

.imgs-container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

#logo {
    content: url('../img/svgexport-1.svg');
    width: 118px;
}

@media (max-width: 1800px) {
    .imgs-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1600px) {
    .imgs-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1300px) {
    .imgs-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .something {
        margin-top: 80px;
    }

    #logo {
        content: url('../img/svgexport-2.svg');
        width: 32px;
    }
}

@media (max-width: 1000px) {
    .imgs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skeleton {
    opacity: 0;
}

.show{
    opacity: 100;
    transition: all 0.5s;
}

.skeleton-color{
    background-color: rgb(233, 233, 233);
}

.img-cover {
    width: 274.75px;
    height: 261px;
    object-fit: cover;
}

.img-cover-width {
    width: 274.75px;
}

.img-cover-height {
    height: 121px;
}

.heart-img {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 24px;
    height: 24px;
    transition: all 0.1s;
}

.heart-img:hover {
    width: 26px;
    height: 26px;
}

.img-container {
    position: relative;
    width: fit-content;
}

.guest-good {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    left: 15px;
    width: 90px;
    height: 24px;

    font-size: 14px;
}

.star {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 265px;
    right: 35px;
}

.star-img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


.little-something {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    height: 100%;
    min-width: 105px;
    color: rgb(90, 90, 90);
    text-overflow: ellipsis;
    position: relative;
}

.little-something img {
    width: 24px;
}

.category-item::after {
    position: absolute;
    bottom: 1px;
    content: "";
    width: 80%;
    height: 2px;
    background-color: transparent;
    transition: all 0.3s;
    border-radius: 20px;
}

.category-item:hover::after {
    background-color: rgb(119, 119, 119);
}


#category-list {
    overflow-x: scroll;
}

#category-list::-webkit-scrollbar{
    display:none;
}

.max-width-1500 {
    width: 100%;
    max-width: 1500px;
}

.max-width-1800 {
    width: 100%;
    max-width: 1800px;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    height: 100%;
}

.carousel-left-btn {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
}

.carousel-right-btn {
    position: absolute;
    right: 20px;
}

.carousel-left-gradiation {
    width: 80px;
    height: 40px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.3) 100%);
}

.carousel-right-gradiation {
    width: 80px;
    height: 40px;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.3) 100%);
}

.choose-something {
    position: absolute;
    top: -80px;
}

.something {
    position: relative;
    margin-bottom: 20px;
    transition: all;
}

.stick-to-left {
    position: absolute;
    left: 0px;
}

.stick-to-right {
    position: absolute;
    right: 0px;
}

.display-none {
    display: none;
}

.display-show {
    display: block;
}